@import '../../../styles/_vars.css';

.descripcion-Producto{
    max-height: 74px;
    overflow: hidden;
}
.ProductItemConfig {
    //min-width: 350px;
    display: flex;
    height: 220px;
    background-color: white;
    //background-color: var(--background-item);
    border-radius:5px;
    border: 1px solid var(--border-item);
    position: relative;
}
.ProductItemConfig:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.ProductItemConfigOpcional {
    display: flex;
    height: 160px;
    background-color: white !important;
    border: 1px solid var(--border-item) !important;
    position: relative;
    align-self: center;
}
.ProductItemConfigOpcional:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.product-info-Config-container{
    //background-color: beige;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-config-button{
    width: 90%;
    max-width: 200px;
    align-self: flex-end;
    margin-right: 10px;
}
.product-config-button-figure{
    margin-bottom: 5px !important;
}
.ProductItemConfig-NumProductos{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.ProductItemImageConfig {
    width: 175px;
    //height: 180px;
    height: 150px;
    border-radius:20px 20px 0 0;
    object-fit: contain;
    background-color: white;
}
.product-info-Config {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 12px 5px 12px;
}
.product-info-Config figure {
margin: 0;
}
.product-info-Config figure img {
width: 35px;
height: 35px;
}

.product-info-Config div p:nth-child(1) {
//font-weight: bold;
font-size: var(--md);
margin-top: 0;
margin-bottom: 4px;
}
.product-info-Config div p:nth-child(2) {
    font-size: var(--md);
    margin-top: 8px;
    margin-bottom: 2px;
    color: var(--gray-letter);
    font-weight:400;
    text-decoration:line-through;
}
.product-info-Config div p:nth-child(3) {
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--price);
    font-weight:400;
}
@media (max-width: 600px) {
    .product-info-Config figure img {
        width: 35px;
        height: 35px;
    }
    .ProductItemConfig {
        height: auto;
    }
    .product-config-button{
        width: 90%;
        max-width: 200px;
        margin-right: 5%;
        //background-color: aquamarine;
    }



}