.pagination_rounded_container_a {
    display: flex;
    justify-content:center;
}


.pagination_rounded_a {
    //display: inline-block;

    margin-right:20px;
    margin-top:20px;
    //font-weight: 400;
    border: 1px solid var(--admin2) !important;
    border-radius: 7px;
}

.pagination_rounded_a ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_rounded_a li:first-child {
    margin-left: 5px;
}

.pagination_rounded_a ul li {
    float: left;
    margin-left: 3px;
}

.pagination_rounded_a ul li a:hover {
    //background: var(--background-form); 
    color: var(--admin2);
    cursor: pointer;
}

a:link {
  text-decoration: none;
}

.pagination_rounded_a .prev_a {
    margin-left: 0px;
    border-radius: 5px;
    width: 45px;
    height: 34px;
    line-height: 34px;
}


.pagination_rounded_a ul li a {
    //color: #4285f4 !important;
    color: var(--admin5);
    float: left;
    border-radius: 7px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 7px;
    //margin-bottom: 40px;
    //border: 1px solid #e0e0e0;
}
.currentNumber_a{
    color: #fff !important;
    background-color: var(--admin3) !important; 
    //font-weight: 500 !important;
}

.pagination_rounded_a .next_a {
    //border-radius: 35px;
    width: 45px;
    height: 34px;
    line-height: 34px;
}

.visible-xs {
    display: none!important;
}

@media (min-width: 600px) {
    .pagination_rounded_a ul li {
        margin-left: 3px;
    }
}
