.Configurador_Container{
    margin-top: 5rem; 
}
.Loading_Container{
    width: 100vw;
    height: 60vh;
    margin-top: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/Slide-configurador.jpg");
    height: 400px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;    
    display: none;
}
.configurador_formControl{
    width: 95%;
    background-color: white;
    border-radius: 10px;
}
.configurador1_titulo{
    font-weight: 600 !important;
    margin: 5px 15px !important;
}
.Configurador_Form2 {
    margin: 0rem 0 0 0;
    background-color: var(--white247);
}
.configurador1_stack{
    padding-bottom: 6em;
    background-image: url("../assets/images/Slide-configurador_min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.BotonesContainer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NextStepButton2{
    background-color: var(--blueConfigurador) !important;
    font-weight: 500 !important;
    align-self: center;
    margin-top: 35px !important;
    text-transform: none !important;
    border-radius: 11px !important;
    height: 45px;
    width: 200px !important;
}
.NextStepButton2:hover{
    background-color: var(--blueConfiguradorHover) !important;
}
.configurador_tuAuto {
    color: white;
    background-color: var(--black247);
    padding: 5px;
    font-weight: 600 !important;
    width: 100%;
}
.configurador_tuAuto1{
    display: flex;
}
.tipoConfiguracion_Button{
    align-self: center;
    margin-top: 10px !important;
    width: 90%;
    height: 3rem;
    background-color: var(--blueConfigurador) !important;
    color:var(--white) !important;
    border-radius: 8px !important;
}
.tipoConfiguracion_Button:hover{
    background-color: var(--blueConfiguradorHover) !important; 
    color: var(--white) !important;
}
  
@media (min-width: 600px) {
    .Configurador_Container{
      //padding-top: 145px; 
    }
    .hero-image{
        display: block;
    }
    .configurador_formControl{
        width: 50%;
    }
    .Configurador_Form2 {
        margin: 0rem 0 0 0;
        background-color: var(--white247);
    }
    .configurador1_stack{
        padding-bottom: 2em;
        background-image: none;
    }    
    .tipoConfiguracion_Button, .tipoConfiguracion_ButtonDisabled, .btn-grad{
        width: 450px;
    }
}
@media (max-width: 600px) {
    .NextStepButton, .NextStepButtonBright {
        width: 100%;
    }
    .NextStepButton2, .NextStepButton2Bright {
      width: 90% !important;
      margin-top: 15px !important;
    }
}