body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color:var(--white) ;
}
.Form_Container {
  padding-top: 16px;
  border: 1px solid var(--border-green);
  border-radius: 8px;
  padding-bottom: 20px;
  background-color: var(--white);
}
.Form_Container_transparent {
  padding-top: 16px;
  /*border: 1px solid var(--border-green);*/
  border-radius: 8px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3); 
}


.Form_ContainerLoading {
  padding-top: 16px;
  border-radius: 8px;
  padding-bottom: 20px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputBasic {
  width : 90%;
  background: white;
}
.input_select{
  width : 90%;
  background: white;
}
.InputBasic2 {
  width : 100%;
  background: white;
}
.input_select2{
  width : 100%;
  background: white;
}
.primary-button-login {
  background-color: var(--logo-green-darker) !important;
  border-radius: 6px;
  border: none;
  color: var(--white);
  width: 90%; /*Lo cambie a 90 por el login*/
  max-width: 450px;
  cursor: pointer;
  font-size: var(--md);
  /*font-weight: bold !important;*/
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
primary-button-login:hover {
  background-color: var(--logo-green) !important;
}
.NextStepButtonSecondaryFull {
  background-color: var(--white) !important;
  border: 1px solid var(--logo-green) !important;
  color: var(--logo-green) !important;
  width: 90%;
  font-size: var(--md);
  /*font-weight: bold !important;*/
  height: 50px;
}
.primary-basic {
  background-color: var(--logo-green-darker) !important;
  border-radius: 6px;
  border: none;
  color: var(--white) !important;
  cursor: pointer !important;
}
.primary-basic:hover {
  background-color: var(--logo-green-darker2) !important;
}
.primary-basic_disabled {
  background-color: var(--blueConfigurador5) !important;
}


.primary-basic2 {
  text-transform: none !important;
  height: 44px;
  font-weight:500 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  background-color: var(--logo-green-darker) !important;
  border-radius: 4px;
  border: none;
  color: var(--white) !important;
  cursor: pointer !important;
  min-width: 450px !important;
}
.primary-basic2:hover {
  background-color: var(--logo-green-darker2) !important;
}
.primary-basic2_disabled {
  background-color: var(--blueConfigurador5) !important;
}

s
.trashCanConf{
  width: 14px;
  height: 16px;
}
.trashCanConf:hover{
  transform: scale(1.1); 
  cursor: pointer;
}
