@use '../../styles/_vars.css' as vars;
.menuAppBar{
    position:sticky;
    background-color:var(--black247) !important;
    height:5rem;
}
.navbar{
    background-color: var(--black247);
    display: flex;
    flex-direction: column;
}
.toolbarContainer {
    background:blue;
    width: 80%;
    height: fit-content;
    border-radius: 16px;
    margin-top: 10px;
    display: flex;
    flex-direction: Column;
    align-items: center;
}
.nav-logo {
    width: 130px;
    object-fit:contain;
}


//---------Estilos para el menu de hamburguesa
.menu-items {
    position: relative;
    font-size: 14px;
}
.menu-items a {
    display: block;
    color: var(--very-light-pink);
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
}
.menu-items button {
    color: var(--very-light-pink);
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}
.menu-items a,
.menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
    background-color: var(--black247);
}
.menu-items a:hover,
.menu-items button:hover {
    color: var(--logo-green);
}
.button-menu{
    display: flex;
    font-size: 14px;
    font-family: inherit;
}
.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}
.dropdown {
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0.5rem;
    display: none;
  }
.dropdown.show {
    display: block;
    background-color: var(--black247);
    width: -webkit-fill-available;
}
  
.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
  }



@media (max-width: 899px) {
.button-menu-secondary{
    display: flex;
    font-size: 14px;
    font-family: inherit;
    background-color: var(--black247-light) !important;
}
}
//------------------------------------------


@media (max-width: 900px) {
    .toolbarContainer {
        display: none; 
    }
    .arrow-right {
        display: none;
    }
}
